## Build results
bin/
obj/
out/

## User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## Configuration files
appsettings.*.json
secrets.json

## Visual Studio Code
.vscode/

## Rider
.idea/

## DotCover
*.dotCover

## Logs
*.log
logs/

## npm & yarn
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Environment
.env
.env.*

## Database
*.mdf
*.ldf

## Publish folder
wwwroot/

# Optional - depends if you commit publish outputs
# publish/

## Coverage tools
coverage/
*.coverage
*.coveragexml
TestResults/
