@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <a href="/File/DownloadPDF" class="btn btn-primary">Download PDF</a>
    <a href="/File/DownloadExcel" class="btn btn-success">Download Excel</a>
</div>
